.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 0px 5px 0px grey;
}

.header__logo {
    width: 196px;
    height: 34px;
}