
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  &__background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    animation: loader-background 2s linear forwards;
  }
  &__ring {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    //taille du carré
    width: 100px;
    height: 100px;
    //épaisseur du côté
    border: 10px solid $colour-primary;
    //couleur de chaque côté
    border-color: $colour-primary transparent $colour-secondary transparent;
    //transformation carré > rond
    border-radius: 50%;
    animation: loader-ring 2s ease-in forwards;
  }
}
