
.loader {
  width: 100%;
  height: 100%;
    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin-top: 350px;
      font-size: 0px;
      animation: loader-spin-title 3s 300ms ease-in;
      z-index: 10;
    }
    &__background {
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: lighten($color: $colour-tertiary, $amount: 20);
      animation: loader-background 4s 0s ease-in forwards;
    }
}



