
.starter__card--btn:hover {
    background-color: lighten($color: $colour-primary, $amount: 35);
    .card__check {
        animation: card-check 500ms 0s ease-in-out forwards;
    }
    .check__icon {
        animation: card-check-spin 400ms 100ms ease-in-out forwards;
    }
}

.card__check {
    width: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $colour-tertiary;
    @include ellipsis;
}
