.card {
    &__btn {
        position: absolute;
        right: 40px;
        bottom: 55px;
        border: 0px;
        font-size: 25px;
        cursor: pointer;
        .btn__icon {
            position: relative;
            .empty-heart {
                position: absolute;
                opacity: 1;
            }
            .full-heart {
                position: absolute;         
                /*color: transparent;
                background-clip: text;
                background-image: linear-gradient(to bottom, $colour-primary, $colour-secondary);*/
                color: $colour-primary;
                opacity: 0;
            }    
            &:hover {
                .empty-heart {
                    //opacity: 0;
                    animation: heart_drain 250s 0s ease-in-out both;
                }
                .full-heart {
                    animation: heart_fill 250ms 0s ease-in-out both;
                    opacity: 1;
                }
            }
        }
    }    
}