.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;  
      &__btn {
        width: 210px;
        @include btn-explore;
        @include shadow-light;
        position: relative;
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            @include btn-explore;
            @include shadow-heavy;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-secondary, 10) 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms;
        }
    }
}