.filter {
    &__btn{
        position: relative;
        display: flex;
        align-items: center;
        @include btn-filter;
        z-index: 1;
        &--number {
            position: absolute;
            left: -10px;
            @include filter-number;
        }  
        &::after {
            @include btn-filter;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: lighten($color: $colour-primary, $amount: 35);
            opacity: 0;
            transition: opacity 300ms;
            z-index: -1;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }  
        &--icon {
            @include filter-icon;
        }
    }
}