.order {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: white;
    &__btn {
        width: 180px;
        @include btn-order;
        @include shadow-light;
        position: relative;
        z-index: 1;
        &::after {
            @include btn-order;
            @include shadow-light;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-secondary, 10) 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}