.header {
    &__menu {
        position: relative;
    }
    & a {
        position: absolute;
        left: 20px;
        color: black;
        font-size: 20px;
    }
}

.restaurant__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    .restaurant__img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    .restaurant__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        margin-top: -50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #eeeeee;
    }
    .restaurant__name {
        width: 100%;
        position: relative;
        //margin: 0px;
        padding-left: 20px;
        h2 {
            font-family: 'Shrikhand', cursive;
            font-size: 2em;
            margin-top: 22px;
            margin-bottom: 22px;
        }
        .card__btn--like {
            position: absolute;
            top: 3px;
            right: 40px;
        }
    }
    .menu__meal {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .meal__type {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            position: relative;
            h3 {
                width: 100%;
                padding-left: 20px;
                text-transform: uppercase;
            }
            .meal__underline {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 40px;
                height: 3px;
                background-color: $colour-tertiary;
            }
        }      
        .meal__section {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 20px;
            .meal__card {
                width: 350px;
                height: 75px;
                display: flex;
                border-radius: $border-rad;
                overflow: hidden;
                @include shadow-heavy;
                opacity: 0;
                &--btn {
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    display: flex;
                    border: transparent;
                    padding: 0px;
                    cursor: pointer;
                    .meal__detail {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        .meal__title {
                            width: 100%;
                            height: 45px;
                            text-align: left;
                            @include ellipsis;
                        }
                        .meal__subtitle {
                            width: 100%;
                            display: flex;
                            .meal__side {
                                width: 100%;
                                text-align: left;
                                @include ellipsis;
                            }
                            .meal__price {
                                width: 30px;
                                text-align: right;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .meal__unroll--1 {
                animation: meal-unroll 1s 0s ease-in-out forwards;
            }
            .meal__unroll--2 {
                animation: meal-unroll 1s 250ms ease-in-out forwards;
            }
            .meal__unroll--3 {
                animation: meal-unroll 1s 300ms ease-in-out forwards;
            }
            .meal__unroll--4 {
                animation: meal-unroll 1s 350ms ease-in-out forwards;
            }
            .meal__unroll--5 {
                animation: meal-unroll 1s 400ms ease-in-out forwards;
            }
            .meal__unroll--6 {
                animation: meal-unroll 1s 450ms ease-in-out forwards;
            }
            .meal__unroll--7 {
                animation: meal-unroll 1s 500ms ease-in-out forwards;
            }
            .meal__unroll--8 {
                animation: meal-unroll 1s 550ms ease-in-out forwards;
            }
            .meal__unroll--9 {
                animation: meal-unroll 1s 600ms ease-in-out forwards;
            }
            .meal__unroll--10 {
                animation: meal-unroll 1s 650ms ease-in-out forwards;
            }
            .meal__unroll--11 {
                animation: meal-unroll 1s 700ms ease-in-out forwards;
            }
            .meal__unroll--12 {
                animation: meal-unroll 1s 750ms ease-in-out forwards;
            }
        @media screen and (min-width: 768px) {
                @include desktop;
            }     
        }    
    }      
}