.header {
    &__menu {
        position: relative;
    }
    & a {
        position: absolute;
        left: 20px;
        color: black;
        font-size: 20px;
    }
}
.restaurant__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .restaurant__img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    .restaurant__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #eeeeee;
    }
    .restaurant__name {
        width: 100%;
        position: relative;
        //margin: 0px;
        padding-left: 20px;
        .card__btn {
            position: absolute;
            right: 60px;
        }
    }
    .menu__starter {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .starter__title {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            h3 {
                width: 100%;
                padding-left: 20px;
            }
            .starter__underline {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 40px;
                height: 3px;
                background-color: $colour-tertiary;
            }
        }
        .starter__card {
            width: 350px;
            height: 75px;
            display: flex;
            border-radius: $border-rad;
            @include shadow-heavy;
            background-color: white;
            .starter__meal {
                width: 100%;
                //height: 72px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 5px;
                .meal__title {
                    width: 100%;
                    display: flex;
                }
                .meal__subtitle {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    text-overflow: ellipsis;
                    .meal__side {
                        width: 100%;
                        text-align: left;
                    }
                    .meal__price {
                        width: 30px;
                        text-align: right;
                        font-weight: bold;
                    }
                }
            }
        }
        
    }
}