
@keyframes card-check {
    from {
        width: 0px;
    }
    to {
        width: 80px;
    }
}

@keyframes card-check-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes loader-background {
    0% {
        opacity: 1;
        z-index: 9;
    }
    95% {
        opacity: 0;
    }
    99% {
        opacity: 0;
        z-index: 9;
    }
    100% {
        opacity: 0;
        z-index: -9;
    }
} 

@keyframes loader-ring {
    0% {
      transform: rotate(0deg);
      opacity: 1;
      z-index: 9;
    }
    80% {
        opacity: 0;
        z-index: 9;
    }
    100% {
      transform: rotate(1440deg);
      opacity: 0;
      z-index: -9;
    }
  }

@keyframes meal-unroll {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
