
@keyframes heart_fill {
    0% {
        transform: scale(0);
        transform-origin: 50% 100%;
    }
    25% {
        transform: scale(0.25);
    }
    50% {
        transform: scale(0.5);
        /*opacity: 1;*/
    }
    75% {
        transform: scale(0.75);
    }
    /*85% {
        opacity: 1;
    }*/
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes card-check {
    from {
        width: 0px;
    }
    to {
        width: 80px;
    }
}

@keyframes card-check-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes loader-spin-title {
    0% {
        transform: rotate(0deg);
        font-size: 0px;
        color: $colour-primary;
    }
    70% {
        transform: rotate(360deg);
        color: $colour-secondary;
    }
    80% {
        font-size: 80px;
        color: $colour-tertiary;        
    }
    100% {
        transform: rotate(360deg);
        font-size: 60px;
        color: $colour-tertiary;
    }
}

@keyframes loader-background {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        //z-index: -10;
    }
  } 

/*@keyframes loader-move {
0% {
    transform: translateY(0);
}
25% {
    transform: translateY(0.5rem);
}
75% {
    transform: translateY(-0.5rem);
}
100% {
    transform: translateY(0);
}
}*/


/*@keyframes heart_fill {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}*/

/*@keyframes heart_drain {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    } 
}*/

/*@keyframes card-check {
    0% {
        transform: scaleX(0);
        transform-origin: right;
    }
    25% {
        transform: scaleX(0.25);
    }
    50% {
        transform: scaleX(0.5);
    }
    75% {
        transform: scaleX(0.75);
    }
    100% {
        transform: scaleX(1);
    }
}*/  

/*@keyframes heart_drain-scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(0.75);
        opacity: 0.75;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.50;
    }
    75% {
        transform: scale(0.25);
        opacity: 0.25;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    } 
}*/