//Palette couleurs
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
//$colour-gradient: linear-gradient(to bottom right, #FF79DA, #9356DC); ne fonctionne pas .... pourtant c'est une couleur dc peut êter mise dans une variable ?

$border-rad: 20px;
$box-shadow-light: box-shadow(0px 3px 5px 2px #D7D7D9);
$box-shadow-heavy: box-shadow(0px 3px 5px 2px #c1c1c1);
$box-shadow-test: box-shadow(0px 3px 5px 2px #b71c1c);
